<div class="container">
    <form class="form mat-elevation-z2">

        <h1>Help Desk</h1>

        <img src="assets/img/login-image.svg" alt="Help Desk Image">

        <mat-form-field class="full-width">
            <mat-label>E-mail</mat-label>
            <input
            [formControl]="email"
            required
            [(ngModel)]="creds.email"
            name="email"
            matInput placeholder="exemplo@mail.com">
        </mat-form-field>

        <mat-form-field class="full-width">
            <mat-label>Senha</mat-label>
            <input
            [formControl]="senha"
            required
            [(ngModel)]="creds.senha"
            name="senha" type="password"
            matInput placeholder="123">
        </mat-form-field>

        <button [disabled]="!validaCampos()" class="full-width" mat-stroked-button color="primary">Login</button>
    
    </form>

</div>